/* Small only */
@media screen and (max-width: 39.9375em) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'small' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }
    /*
        Preventing FOUC
        http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
    */
    .no-js .top-bar {
        display: none;
    }
    
/* ------------------------------------
    Slider
------------------------------------- */
    #home-slider .slider-caption{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        background: #000;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
    }
    #home-slider .slick-prev,
    #home-slider .slick-next{
        display: none !important;
    }
    #home-slider .slider-caption p{
        font-size: 12px;
        text-shadow: none;
        font-weight: 600;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .top-bar, .top-bar ul {
        background-color: #fff;
    }


    /*
        Preventing FOUC
        http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
    */
    .no-js .title-bar {
        display: none;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'medium' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'large' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}